/* Color Palette (darkest to lightest)
#040c14 - color 1 (dark navy)
#1153bd - color 2 (blue)
#82b2ea - color 3 (light cobalt)
#d7e7fb - color 4 (lighter blue)
#E0E1DD - color 5 (off white)
*/

/* Global styles 
------------------------------------*/
body {
    background-color: #040c14;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #E0E1DD;
    font-family: 'DM Sans', sans-serif;
}

header {
    height: 100vh;
    width: 100vw;
}

section {
    height: 100vh;
    width: 100vw;
}

h1,h2,h3 {
    letter-spacing: 1px;
    margin:0;
    padding:0;
    display: inline-block;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    color: #1153bd;
}

h2 {
    color: #82b2ea;
    font-weight: bold;
}

h3 {
    color: #d7e7fb;
    font-weight: bold;
}

img {
    width: 330px;
    position:absolute;
    top: 150px;
    right: 110px;
}


/* Header & Footer 
------------------------------------*/



/* Work Experience
------------------------------------*/



/* Education
------------------------------------*/