* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: black;
}
.headers {
    font-family: 'Prompt', sans-serif;
}

header {
    display: flex;
    align-items: center;
    color: white;
    height: 100vh;
    background-image: url(/COMP484Projects/comp484-project1/assets/photos/1.jpg);
    background-repeat: no-repeat; 
    background-size: 80%;
    background-position: right;
}

.head-info {
    height:fit-content;
    width: 610px;
    position:absolute;
    left: 250px;
}

h1 {
    color: rgb(255, 204, 0);
    font-size: 4em;
    height: min-content;
}

h2 {
    font-size: 3em;
    font-weight: 600;
    font-style: italic;
}

.book-purpose {
    height: 100vh;
    width: 100vw;
    background-color: rgb(19, 19, 36);
}

.book-remarks {
    height: 100vh;
    width: 100vw;
    background-color: rgb(28, 10, 10);
}